body {
    background:
      linear-gradient(rgba(153, 153, 153, 0.6), rgba(153, 153, 153, 0.6)),
      url("../img/base.jpg") no-repeat center center / cover;
  }
  
  .schedule {
    display: grid;
    gap: 20px;
    margin-top: 40px;
  }
  
  .schedule div {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid #cfa36a;
    transition: all 0.3s;
  }
  
  .schedule div:hover {
    background: rgba(207,163,106,0.85);
    color: black;
  }
  