body {
    background:
    linear-gradient(rgba(153, 153, 153, 0.6), rgba(153, 153, 153, 0.6)),
      url("../img/kava1.jpg") no-repeat center center / cover;
  }
  
  .highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
  }
  
  .box {
    background: rgba(0,0,0,0.7);
    padding: 25px;
    border-radius: 12px;
    transition: transform 0.3s;
  }
  
  .box:hover {
    transform: translateY(-10px);
  }
  